<form>
  <input type='text' name='first-name' placeholder="First Name">
  <input type='text' name='surname' placeholder='Surname'>
  <input type='email' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='password' name='confirm-password' placeholder='Confirm Password'>
</form>
