<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .space {
        list-style-type: none;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        width: 20vw;
        }
    </style>
    <title>Spaces</title>
  </head>

  <body>
    <h1>Book a Space</h1>

    <form action='/spaces/new' method='GET'>
      <input type="submit" value='List a Space'>
    </form>

    <ul>
      <% @spaces.each do |space| %>
        <li class='space' id='space-<%= space.id %>'>
          <h3><%= space.name %></h3>
          <p><%= space.description %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>
