<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%= @space.description %>
  <form action="/requests" method="POST">
    <label for="Requested Date">
    <input type="date" name="requested-date" id="Requested Date">
    <input type="submit" value="Request to Book">
  </form>
</body>
</html>