<h1> Log in MakersBnB </h1> 
<h2><%= flash[:notice] %></h2>
<form action='/sessions/new' method='POST'>
  <label for='Email Address'>Email Address</label>
  <input type='Text' name='email address' id='Email Address'>
  <label for='Password'>Password</label>
  <input type='password' name='password' id='Password'>
  <input type='submit' value='Log in'> 
</form>